<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.baozi.homemodle"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/home_app_name"
        android:supportsRtl="true"
        android:theme="@style/Base_theme">
        <meta-data android:name="design_width" android:value="720"/>
        <meta-data android:name="design_height" android:value="1280"/>
    </application>

</manifest>