<manifest package="com.linfeng.imageloder"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <meta-data
            android:name="com.linfeng.imageloder.SimpleGlideModule"
            android:value="GlideModule"/>
    </application>

</manifest>
